
    <div class="page_header">
      <div class="container-fluid">
        <div class="icon pull-left"><a href="{{$root.backLink}}"><i class="glyphicon glyphicon-menu-hamburger"></i></a></div>
        <div class="header_btns pull-right"><a class="btn "><i class="glyphicon glyphicon-filter"></i></a> <a class="filter btn "><i class="glyphicon glyphicon-search"></i></a></div>
        <div class="title">{{$root.pageTitle}}</div>{{$root.categories.length}}
      </div>
    </div>
	 <div ui-view></div>
	<div sidebar-menu><div>